@model GradExam.Models.LearnOutcome

@{
    ViewData["Title"] = "View Learning Outcome";
}

<h2>View Learning Outcome</h2>

<div>
    <h4>Learning Outcome</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LearningOutcome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LearningOutcome)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.QuestionAnswer)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Answer)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    </div>
<div>
    <a asp-action="Update" asp-controller="LearnOutcome" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
