<!-- View for the index for courses -->
@model IEnumerable<GradExam.Models.Course>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Semester)</th>
            <th>@Html.DisplayNameFor(model => model.Section)</th>
            <th>@Html.DisplayNameFor(model => model.Instructor)</th>
            <th>@Html.DisplayNameFor(model => model.Concentration)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.Name == null)
            {

            }
            else
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Id)</td>
                    <td>@Html.DisplayFor(model => item.Name)</td>
                    <td>@Html.DisplayFor(model => item.Semester)</td>
                    <td>@Html.DisplayFor(model => item.Section)</td>
                    <td>@Html.DisplayFor(model => item.Instructor.FullName)</td>
                    <td>@Html.DisplayFor(model => item.Concentration.Name)</td>
                    <td>

                        <a href="/Course/Edit/@item.Id">Edit |</a>
                        <a href="/Course/Details/@item.Id">Details |</a>
                        <a href="/Course/Delete/@item.Id">Delete</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>